pokemon/
supplement_store/store_app/__pycache__/
supplement_store/main/__pycache__/
supplement_store/login_app/__pycache__/
supplement_store/db.sqlite3
supplement_store/product.json
supplement_store/store_app/migrations/
VocaList.png
vocalist/vocalistvenv
__pycache__/

vocalist/Vocalist-Wireframe.bmpr
vocalist/Vocalist-Wireframe.pdf
vocalist/Project Proposal.pdf
vocalist/Project Proposal.zip
vocalist/media/
vocalist/YAP.json
vocalist/stripe.exe
.vscode/

