<!doctype html>
<html lang=>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voca\LIST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Google Font embed -->
    <link
        href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/0eb52090db.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#efefef">
            <div class="container-fluid">
                <a href="{% url 'index' %}"><img src="{% static 'img/vocalist-logo.png' %}" class="navbar-brand"
                        height=150px width=400px></img></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link font-weight-bold" href="#">About</a>
                        <a class="nav-link font-weight-bold" href="{% url 'list' %}">The List</a>
                        {% if logged_user %}
                        <a class="nav-link font-weight-bold" href="{% url 'user_profile' %}">Profile</a>
                        <a class="nav-link font-weight-bold" href="{% url 'logout' %} ">Log Out</a>
                        {% else %}
                        <a class="nav-link font-weight-bold" href="{% url 'login' %} ">Log In</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-md-4 col-sm-12 d-flex flex-column align-items-center">
                    <img src="{{company.logo}}"
                        alt="Company Logo" style="width:300px" >
                    <u><a href="{{company.website}}" class="">Company Website</a></u>
                </div>
                <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>
                            <h5><em>Company Name:</em></h5>
                        </li>
                        <ul class="mb-2 list-unstyled">
                            <h5>
                                <li class="font-weight-bold">{{company.name}}</li>
                            </h5>
                        </ul>
                        <li>
                            <h5><em>Program Type:</em></h5>
                        </li>
                        <ul class="mb-2 list-unstyled">
                            <h5>
                                <li class="font-weight-bold">{{company.category}}</li>
                            </h5>
                        </ul>
                        <li>
                            <h5><em>Compensation:</em></h5>
                        </li>
                        <ul class="mb-2 list-unstyled">
                            <h5>
                                <li class="font-weight-bold">${{company.weekly_stipend}}/week</li>
                            </h5>
                        </ul>
                        <li>
                            <h5><em>Age limit:</em></h5>
                        </li>
                        <ul class="mb-2 list-unstyled">
                            <h5>
                            {% if company.maximum_age %}
                                <li class="font-weight-bold">{{company.minimum_age}} - {{company.maximum_age}}</li>
                            {% else %}
                                <li class="font-weight-bold">None</li>
                            {% endif %}
                            </h5>
                        </ul>
                        <h5>
                            <li>
                                <h5><em>Rating:</em></h5>
                            </li>
                        </h5>
                        <ul class="mb-2 list-unstyled">
                            <h5>
                                <li class="font-weight-bold text-danger"><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i> <i
                                        class="fas fa-star-half-alt"></i><i class="fa fa-star-o"></i><small
                                        class='ml-2'><em class="text-dark">437 ratings</em></small></li>
                            </h5>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 d-flex flex-column align-items-center ">
                    <ul class="list-unstyled">
                        <h5 class="d-block"><em>Perks:</em></h5>
                        {% if company.housing %}
                        <li><i class="far fa-check-square mr-1"></i>Housing</li>
                        {% else %}
                        <li><i class="far fa-square mr-1"></i>Housing</li>
                        {% endif %}
                        {% if company.agma %}
                        <li><i class="far fa-check-square mr-1"></i>AGMA</li>
                        {% else %}
                        <li><i class="far fa-square mr-1"></i>AGMA</li>
                        {% endif %}
                        {% if company.benefits %}
                        <li><i class="far fa-check-square mr-1"></i>Benefits</li>
                        {% else %}
                        <li><i class="far fa-square mr-1"></i>Benefits</li>
                        {% endif %}
                        {% if company.travel_stipend %}
                        <li><i class="far fa-check-square mr-1"></i>Travel Stipend</li>
                        {% else %}
                        <li><i class="far fa-square mr-1"></i>Travel Stipend</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row ml-5">
                    <div class="col-md-11 ml-4">
                        <p>{{company.description}}</p>
                    </div>
                </div>
                <hr class="border border-grey w-100">
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2">
                    <img src="{% static 'img/default.png' %}" alt="" style="height:120px">
                    <p class="ml-3">Anonymous</p>
                </div>
                <div class="col-md-10">
                    <h6 class="font-weight-bold text-danger"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><small
                            class='ml-2'><em class="text-dark font-weight-bold">07/20/2018</em></small></h6>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata
                        corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead
                        survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra
                        adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse.</p>
                </div>
                <hr class="border border-grey w-100">
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2">
                    <img src="{% static 'img/profile-image2.jpg' %}" alt="" style="height:120px">
                    <p class="ml-3">Mason Gates</p>
                </div>
                <div class="col-md-10">
                    <h6 class="font-weight-bold text-danger"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><small
                            class='ml-2'><em class="text-dark font-weight-bold">06/14/2019</em></small></h6>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata
                        corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead
                        survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra
                        adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse.</p>
                </div>
                <hr class="border border-grey w-100">
            </div>
            <form action="" class="" id="review-form">
                <div class="row">
                    <div class="col-md-2 d-flex flex-column justify-content-between">
                        <div class="form-check form-check-inline ml-1">
                            <input type="radio" name="rating"  value=1 class="form-check-input" style="display:none">
                            <i class="fa fa-star-o star text-danger" class2="fa fa-star star text-danger" click="fa fa-star star text-danger"></i>
                            <input type="radio" name="rating"  value=2 class="form-check-input" style="display:none">
                            <i class="fa fa-star-o star text-danger" class2="fa fa-star star text-danger" click="fa fa-star star text-danger"></i>
                            <input type="radio" name="rating"  value=3 class="form-check-input" style="display:none">
                            <i class="fa fa-star-o star text-danger" class2="fa fa-star star text-danger" click="fa fa-star star text-danger"></i>
                            <input type="radio" name="rating"  value=4 class="form-check-input" style="display:none">
                            <i class="fa fa-star-o star text-danger" class2="fa fa-star star text-danger" click="fa fa-star star text-danger"></i>
                            <input type="radio" name="rating"  value=5 class="form-check-input" style="display:none">
                            <i class="fa fa-star-o star text-danger" class2="fa fa-star star text-danger" click="fa fa-star star text-danger"></i>
                        </div>
                        <input type="submit" value="Submit Review" class="btn btn-custom" form="review-form">
                        <div class="form-group">
                            <label for="anonymous">Review anonymously</label>
                            {% if logged_user.anonymous %}
                            <input type="checkbox" name="anonymous" id="anonymous" checked>
                            {% else %}
                            <input type="checkbox" name="anonymous" id="anonymous">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10">

                        <textarea name="content" id="" rows="5" placeholder="Review this company (optional)"
                            style="resize: none;" class="w-100"></textarea>
                    </div>
                    <hr class="border border-grey w-100">
                </div>
            </form>
        </div>

        <div class="container-fluid d-flex align-items-center justify-content-center flex-wrap mt-4"
            style="background-color:#2B2D2F; height:125px">
            <hr class="border border-light w-100 mt-5 mb-0">
            <small class="text-light mb-3"> &copy; Mason Gates</small>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
        $('.star').hover(function(e){
            var temp1 = $(this).attr('class')
            var temp2 = $(this).attr('class2')
            $(this).attr('class', temp2)
            $(this).attr('class2', temp1)
            $(this).prevAll('.star').attr('class', temp2)
            $(this).prevAll('.star').attr('class2', temp1)
        })
        $('.star').click(function(e){
            var temp1 = $(this).attr('class')
            var temp2 = $(this).attr('class2')
            $(this).attr('class', temp2)
            $(this).attr('class2', temp1)
            $(this).prevAll('.star').attr('class', temp2)
            $(this).prevAll('.star').attr('class2', temp1)
            $(this).prev().prop("checked", true)
        })
    </script>
</body>