* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Playfair Display', serif;
  width: 100%;
}


a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #c8001d !important;
}

.image-overlay {
  position: relative;
}

.image-overlay:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";

}

/* insert background image to this section*/
#hero {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1560184611-5b5749138c3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2087&q=80");
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed;
  height: 500px;
  width:100%
}


.btn-custom {
  background:linear-gradient(#c8001d 5%, #80011f 100%);
  border:none;
  color: white;
}

a.btn-custom:hover{
  background:linear-gradient(#80011f 5%, #c8001d 100%);
  color:white !important;
}

a.btn-custom:active{
  position:relative;
  top:1px;
}



/* insert background image to this section*/

.about-vocalist-1 {
  background-image: url("https://images.unsplash.com/photo-1573079877972-1839828a7aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-position: center center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* insert background image to this section*/
.pay-to-play-1 {
  background-image: url("https://images.unsplash.com/photo-1573901715464-3abada6ceed0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
  background-position: center center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* insert background image to this section*/
.paid-yaps-1 {
  background-image: url("https://images.unsplash.com/photo-1587455011549-8f2334ce4f00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
  background-position: center center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer {
  height: 150px;
  color: white;
  background-color: #2B2D2F;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}