{% for review in logged_user.has_reviewed.all %}
<div class="row ml-3">
    <div class="mx-5">
        <h5><a href="{% url 'company_profile' review.company.slug %}">{{review.company}}</a></h5>
        <h6 class="font-weight-bold text-danger">
            {% if review.rating == 1 %}
            <i class="fas fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            {% elif review.rating == 2 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            {% elif review.rating == 3 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            {% elif review.rating == 4 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            {% elif review.rating == 5 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            {% endif %}
                {% if review.datePosted != review.dateEdited %}
                <small><em class="text-dark font-weight-bold">edited {{review.dateEdited}}</em></small></p>
                 {% else %}
                <small><em class="text-dark font-weight-bold">{{review.datePosted}}</em></small></p>
                {% endif %}
            </h6>
        <p>{{review.content}}</p>
        <form action="{% url 'edit_review' review.id %}" method="post" style="display:none" class="edit_review_form">
            {% csrf_token %}
            <h5>{{review.company.name}}</h5>
            <div class="form-check form-check-inline mb-3 text-danger">
                <input type="radio" name="rating" value=0 class="form-check-input" style="display:none" checked>
                <input type="radio" name="rating" value=1 class="form-check-input" style="display:none">
                <i class="fa fa-star-o star text-danger"></i>
                <input type="radio" name="rating" value=2 class="form-check-input" style="display:none">
                <i class="fa fa-star-o star text-danger"></i>
                <input type="radio" name="rating" value=3 class="form-check-input" style="display:none">
                <i class="fa fa-star-o star text-danger"></i>
                <input type="radio" name="rating" value=4 class="form-check-input" style="display:none">
                <i class="fa fa-star-o star text-danger"></i>
                <input type="radio" name="rating" value=5 class="form-check-input" style="display:none">
                <i class="fa fa-star-o star text-danger"></i>
            </div>
            <textarea name="content" rows="5" style="resize: none;" class="w-100">{{review.content}}</textarea>
            <input type="submit" value="Save Edits" class="btn btn-custom">
        </form>
        <form action="{% url 'delete_review' review.id %}" method="POST" class="d-flex justify-content-start">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-link">
            <span class="text-info align-self-center">|</span>
            <input type="button" value="Edit" class="btn btn-link edit_review">
        </form>
    </div>
    <hr class="border border-grey w-100">
</div>
{% endfor %}